<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
         name="cartValidation">
    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="8"/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg value="s" />

    <file>./src</file>
    <file>./tests</file>
    <file>./public</file>
    <file>./config</file>

    <rule ref="Doctrine">
        <exclude name="SlevomatCodingStandard.TypeHints.ParameterTypeHint" />
        <exclude name="SlevomatCodingStandard.TypeHints.ReturnTypeHint" />
        <exclude name="SlevomatCodingStandard.Commenting.InlineDocCommentDeclaration.InvalidFormat" />
        <exclude name="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingTraversableTypeHintSpecification" />
        <exclude name="SlevomatCodingStandard.ControlStructures.UselessIfConditionWithReturn.UselessIfCondition" />
        <exclude name="SlevomatCodingStandard.ControlStructures.EarlyExit.EarlyExitNotUsed" />
        <exclude name="SlevomatCodingStandard.TypeHints.UnionTypeHintFormat.DisallowedShortNullable" />
        <exclude name="Squiz.Strings.DoubleQuoteUsage.NotRequired" />
        <exclude name="Squiz.Strings.DoubleQuoteUsage.ContainsVar" />
        <exclude name="SlevomatCodingStandard.Functions.RequireTrailingCommaInCall.MissingTrailingComma" />
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousInterfaceNaming.SuperfluousSuffix" />
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousExceptionNaming.SuperfluousSuffix" />
        <exclude name="Squiz.Functions.MultiLineFunctionDeclaration.EmptyLine" />
    </rule>

    <rule ref="PSR1.Methods.CamelCapsMethodName.NotCamelCaps">
        <exclude-pattern>tests/</exclude-pattern>
    </rule>

    <rule ref="Generic.Files.LineLength">
        <properties>
           <property name="lineLimit" value="180"/>
           <property name="absoluteLineLimit" value="180"/>
        </properties>
    </rule>
</ruleset>

